<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='admin/admin-login.css') }}">
</head>

<body>

    <form action="/admin/login" method="POST">

        <div class="admin-login">

            <label for="admin-email">
                <input type="email" id="admin-email" name="admin-email" placeholder="Admin Email" required>
            </label>

            <label for="admin-pass">
                <input type="password" id="admin-pass" name="admin-pass" placeholder="Password" required>
            </label>

            <button type="submit">
                LOGIN
            </button>

        </div>

    </form>

</body>

</html>